<div class="col-md-12">
	<h1>Submit Your Picks <small class="text-nowrap">Week {{ Week.Week }}</small></h1>
	<p>Spreads are always against the <span class="text-success">home team</span>. Picks are automatically submitted.</p>

	<div class="row">
		<div class="col-md-12">
			<progress max="100">
				<bar value="Progress.Away" type="primary"></bar>
				<bar value="Progress.Home" type="success"></bar>
				<bar value="Progress.Over" type="warning"></bar>
				<bar value="Progress.Under" type="danger"></bar>
			</progress>
		</div>
	</div>

	<div class="rows-striped">
		<div class="row" ng-repeat="Line in Lines track by Line.Line.GameId">
			<div role="group" data-toggle="buttons" aria-label="Pick options">

				<div class="col-md-4">
					<div class="row">
						<div class="col-xs-5">
							<label
								class="btn btn-block"
								ng-class="{ 'btn-default': Picks[Line.Line.GameId] != Line.Away.Id, 'btn-primary': Picks[Line.Line.GameId] == Line.Away.Id }"
								ng-model="Picks[Line.Line.GameId]"
								btn-radio="Line.Away.Id">
								<input type="radio" name="{{ Line.Line.GameId }}" ng-value="Line.Away.Id" autocomplete="off" class="hide">
								{{ Line.Away.City }}
							</label>
						</div>
						<div class="col-xs-5">
							<label
								class="btn btn-block"
								ng-class="{ 'btn-default': Picks[Line.Line.GameId] != Line.Home.Id, 'btn-success': Picks[Line.Line.GameId] == Line.Home.Id }"
								ng-model="Picks[Line.Line.GameId]"
								btn-radio="Line.Home.Id">
								<input type="radio" name="{{ Line.Line.GameId }}" ng-value="Line.Home.Id" autocomplete="off" class="hide">
								@{{ Line.Home.City }}
							</label>
						</div>
						<div class="col-xs-2">
							<div class="btn-sized text-right"><span ng-if="Line.Line.Spread &gt;= 0">+</span>{{ Line.Line.Spread | number:1}}</div>
						</div>
					</div>
				</div>

				<div class="col-md-3">
					<div class="row">
						<div class="col-xs-5">
							<label
								class="btn btn-block"
								ng-class="{ 'btn-default': Picks[Line.Line.GameId] != 'OVER', 'btn-warning': Picks[Line.Line.GameId] == 'OVER' }"
								ng-model="Picks[Line.Line.GameId]"
								btn-radio="'OVER'">
								<input type="radio" name="{{ Line.Line.GameId }}" value="OVR" autocomplete="off" class="hide">
								Over
							</label>
						</div>
						<div class="col-xs-5">
							<label
								class="btn btn-block"
								ng-class="{ 'btn-default': Picks[Line.Line.GameId] != 'UNDER', 'btn-danger': Picks[Line.Line.GameId] == 'UNDER' }"
								ng-model="Picks[Line.Line.GameId]"
								btn-radio="'UNDER'">
								<input type="radio" name="{{ Line.Line.GameId }}" value="UND" autocomplete="off" class="hide">
								Under
							</label>
						</div>
						<div class="col-xs-2">
							<div class="btn-sized text-right">{{ Line.Line.OverUnder | number:1 }}</div>
						</div>
					</div>
				</div>

				<div class="col-md-5">
					<div>{{ Line.Start | date:'EEE, MMM d, h:mm a' }}</div>
					<div class="text-muted">{{ Line.Stadium.Name }}, {{ Line.Stadium.City }}, {{ Line.Stadium.State }} - {{ Line.Stadium.Roof }}; {{ Line.Stadium.Turf }}</div>
				</div>

			</div>
		</div>
	</div>

	<!-- Removed in favor of auto-submit
	<div class="row">
		<div class="col-md-offset-3 col-md-6">
			<p><button class="btn btn-lg btn-block btn-primary" ng-click="submitPicks()">Submit Picks</button></p>
		</div>
	</div>
	-->

</div>
