<div class="col-md-12">
	<h1>Submit Your Picks <small class="text-nowrap">Week {{ Week.Week }}</small></h1>
	<p>Spreads are always against the <span class="text-success">home team</span>. Picks are automatically submitted. Picks may take place from Wednesday at 5pm before the week's games, up to noon the next Thursday</p>

	<div class="row">
		<div class="col-md-12">
			<progress max="100">
				<bar value="Progress.Away" type="primary"></bar>
				<bar value="Progress.Home" type="success"></bar>
				<bar value="Progress.Over" type="warning"></bar>
				<bar value="Progress.Under" type="danger"></bar>
			</progress>
		</div>
	</div>

	<div class="rows-striped">
		<div class="row" ng-repeat="Line in Lines track by Line.Line.GameId">
			<div role="group" data-toggle="buttons" aria-label="Pick options">

				<div class="col-md-4">
					<div class="row">
						<div class="col-xs-5">
							<p>
								<label
									class="btn btn-block"
									ng-class="{ 'btn-default': Picks[Line.Line.GameId] != Line.Away.Id, 'btn-primary': Picks[Line.Line.GameId] == Line.Away.Id }"
									ng-disabled="Closed"
									ng-model="Picks[Line.Line.GameId]"
									btn-radio="Line.Away.Id">
									<input type="radio" name="{{ Line.Line.GameId }}" ng-value="Line.Away.Id" autocomplete="off" class="hide">
									{{ Line.Away.Name }}
								</label>
							</p>
						</div>
						<div class="col-xs-5">
							<p>
								<label
									class="btn btn-block"
									ng-class="{ 'btn-default': Picks[Line.Line.GameId] != Line.Home.Id, 'btn-success': Picks[Line.Line.GameId] == Line.Home.Id }"
									ng-disabled="Closed"
									ng-model="Picks[Line.Line.GameId]"
									btn-radio="Line.Home.Id">
									<input type="radio" name="{{ Line.Line.GameId }}" ng-value="Line.Home.Id" autocomplete="off" class="hide">
									@{{ Line.Home.Name }}
								</label>
							</p>
						</div>
						<div class="col-xs-2">
							<div class="btn-sized text-right"><span ng-if="Line.Line.Spread &gt;= 0">+</span>{{ Line.Line.Spread | number:1}}</div>
						</div>
					</div>
				</div>

				<div class="col-md-3">
					<div class="row">
						<div class="col-xs-5">
							<p>
								<label
									class="btn btn-block"
									ng-class="{ 'btn-default': Picks[Line.Line.GameId] != 'OVER', 'btn-warning': Picks[Line.Line.GameId] == 'OVER' }"
									ng-disabled="Closed"
									ng-model="Picks[Line.Line.GameId]"
									btn-radio="'OVER'">
									<input type="radio" name="{{ Line.Line.GameId }}" value="OVR" autocomplete="off" class="hide">
									Over
								</label>
							</p>
						</div>
						<div class="col-xs-5">
							<p>
								<label
									class="btn btn-block"
									ng-class="{ 'btn-default': Picks[Line.Line.GameId] != 'UNDER', 'btn-danger': Picks[Line.Line.GameId] == 'UNDER' }"
									ng-disabled="Closed"
									ng-model="Picks[Line.Line.GameId]"
									btn-radio="'UNDER'">
									<input type="radio" name="{{ Line.Line.GameId }}" value="UND" autocomplete="off" class="hide">
									Under
								</label>
							</p>
						</div>
						<div class="col-xs-2">
							<div class="btn-sized text-right">{{ Line.Line.OverUnder | number:1 }}</div>
						</div>
					</div>
				</div>

				<div class="col-md-5">
					<p>{{ Line.Start | date:'EEE, MMM d, h:mm a' }}</p>
					<p class="text-muted">{{ Line.Stadium.Name }}, {{ Line.Stadium.City }}, {{ Line.Stadium.State }} - {{ Line.Stadium.Roof }}; {{ Line.Stadium.Turf }}</p>
				</div>

			</div>
		</div>

		<div class="row">
			<form ng-submit="submitTieBreaker()">
				<div class="col-md-4">
					<div class="row">
						<div class="col-xs-10">
							<p><input type="number" ng-model="TieBreaker.Value" min="0" step="0.5" max="100" required class="form-control"></p>
						</div>
					</div>
				</div>
				<div class="col-md-3">
					<div class="row">
						<div class="col-xs-10">
							<p><button type="submit" class="btn btn-default btn-block">
								Submit
								<span class="glyphicon glyphicon-ok text-success" ng-show="TieBreaker.Submitted"></span>
								<span class="glyphicon glyphicon-refresh glyphicon-spin" ng-show="TieBreaker.Submitting"></span>
							</button></p>
						</div>
					</div>
				</div>
				<div class="col-md-5">
					<p>Tie Breaker</p>
					<p class="text-muted">Enter total points for final game</p>
				</div>
			</form>
		</div>

	</div>

</div>
