<div class="col-md-4 col-md-offset-4">
	<div class="alert alert-danger" role="alert" ng-if="Alert.Danger">{{ Alert.Danger }}</div>
	<div class="alert alert-success" role="alert" ng-if="Alert.Success">{{ Alert.Success }}</div>
	<form class="form-horizontal" role="form">
		<div class="form-group">
			<label for="Username" class="col-sm-3 control-label">Name</label>
			<div class="col-sm-9">
				<input type="text" class="form-control" id="Username" required ng-model="Form.Username">
			</div>
		</div>
		<div class="form-group">
			<label for="OldPin" class="col-sm-3 control-label">Old PIN</label>
			<div class="col-sm-9">
				<input type="number" min="0" max="9999" maxlength="4" class="form-control" id="OldPin" required ng-model="Form.OldPIN">
			</div>
		</div>
		<div class="form-group">
			<label for="NewPIN" class="col-sm-3 control-label">New PIN</label>
			<div class="col-sm-9">
				<input type="number" min="0" max="9999" maxlength="4" class="form-control" id="NewPIN" required ng-model="Form.NewPIN">
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-offset-3 col-sm-9">
				<button type="submit" class="btn btn-primary" ng-click="doUpdate()">Update Profile</button>
			</div>
		</div>
	</form>
</div>
