<div class="col-md-12">
	<h1>Overall Standings</h1>
	<table class="table table-striped">
		<thead>
			<tr class="text-muted">
				<th></th>
				<th width="45" class="text-center" ng-repeat="Standing in Standings">{{ Standing.Week.Week }}</th>
				<th width="100">Picks</th>
				<th width="45">Wins</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="User in Users track by User">
				<td>{{ User }}</td>
				<td ng-repeat="Standing in Standings" class="text-center" ng-class="{ success: Standing.Winners.indexOf(User) > -1 }">
					{{ Standing.UserWins[User] }}
				</td>
				<td class="text-right">
					{{ UserTotals[User] || "0" }} <span class="text-muted">/ {{ TotalPicks }}</span>
					<div><small class="text-muted">{{ UserTotals[User] / TotalPicks * 100 | number:2 }}%</small></div>
				</td>
				<td>{{ Wins[User] | number:0 }}</td>
			</tr>
		</tbody>
	</table>
</div>
