<div class="col-md-12">
	<h1>Overall Standings</h1>
	<table class="table table-striped">
		<thead>
			<tr class="text-muted">
				<th></th>
				<th width="30" ng-repeat="Standing in Standings">{{ Standing.Week.Week }}</th>
				<th>Picks</th>
				<th>Wins</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="User in Users track by User">
				<td>{{ User }}</td>
				<td ng-repeat="Standing in Standings">
					{{ Standing.UserWins[User] }}
				</td>
				<td class="text-center">
					{{ UserTotals[User] || "0" }} <span class="text-muted">/ {{ TotalPicks }}</span>
					<!-- <div><small class="text-muted">{{ UserTotals[User] / TotalPicks * 100 | number:2 }}%</small></div> -->
				</td>
				<td>0</td>
			</tr>
		</tbody>
	</table>
</div>
